@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  min-width: 100%;
  margin: 0;
  padding: 0;
  /* border: 2px red solid; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #c2c4c5,
    #d1d2d3,
    #e0e1e2,
    #f0f0f0,
    #ffffff
  );
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

img {
  max-height: auto;
  margin-bottom: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #070707;
  text-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

h3 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  padding: 0;
  min-width: 100%;
  height: 12em;
  color: #ffffff;
  /* justify-content: space-between; */
  background-color: rgba(255, 255, 255, 0.5);
}

.header-content {
  display: flex;
  gap: 20rem;
  justify-content: space-between;
  align-items: center;
  /* width: 50%; */
  margin: auto;
}

.logo {
  width: 18em;
  height: 5em;
  margin-bottom: 3em;
  /* border: red 2px solid; */
}

.main-picture {
  background: url("./images/mac_phone.jpg");
  background-position: center;
  width: 100%;
  height: 50em;
}

.navbar {
  /* margin-top: 2em; */
}

.navbar a {
  font-size: 2em;
  color: #ffffff;
  text-decoration: none;
  padding: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 100%;
  margin: 0;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  min-height: 30em;
  /* border: 2px solid red; */
}

.services-header-container {
  text-align: center;
}

.services-itm-container {
  /* border: green solid 2px; */
  border-radius: 2em;
  width: 30em;
  height: 30em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: #ffffff;
  opacity: 0.7;
}

.service-itm-container {
  padding: 2rem;
}

.it-support::before {
  content: "";
  background: url("./images/itsupport-min.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  height: 30em;
  width: 30em;
  border-radius: 2em;
}

.footer {
  margin-top: auto;
  /* position: fixed; */
  /* padding: 2em; */
  width: 100%;
  bottom: 0;
  left: 0;
  /* border: green 2px solid; */
}

@media screen and (max-width: 1920px) {
  .main-picture {
    height: 15em;
  }

  .header-content {
    gap: 0;
  }

  /* .services-container {
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    width: 100%;
  } */

  /* h2 {
    font-size: 1.25rem;
  }
  .container-item {
    font-size: 1rem;
    width: 100%;
  }

  .services-section {
    width: 100%;

    display: flex;
    flex-direction: column;
  }


  .services-itm-container {
    width: 23.7rem;
    height: 20rem;
  }

  .it-support::before {
    width: 23.7rem;
    height: 20rem;
  }

  .service-itm-container {
    width: 15rem;
  } */
}
